[submodule "quickstart/themes/ananke"]
	path = quickstart/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/hugo-bearblog"]
	path = themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
[submodule "themes/hugo-flex"]
	path = themes/hugo-flex
	url = https://github.com/ldeso/hugo-flex.git
[submodule "themes/hugo-theme-tokiwa"]
	path = themes/hugo-theme-tokiwa
	url = https://github.com/heyeshuang/hugo-theme-tokiwa.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/enchanted-lowkey"]
	path = themes/enchanted-lowkey
	url = https://github.com/nixentric/Lowkey-Hugo-Theme.git
